.menuItems {
  list-style: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.267);
  margin-bottom: 100px;
}

.menuItems li {
  padding: 30px 20px;
}

.menuItems a {
  color: black;
  font-weight: bolder;
}

.menuItems a:hover {
  color: rgb(255, 255, 255);
}
